@model User


<h1>Register</h1>

<form asp-controller="Users" asp-action="Register">
	<div class="my-3">
		<label asp-for="Id"></label>
		<input asp-for="Id" class="form-control" />
	</div>
	<div class="my-3">
		<label asp-for="UserName"></label>
		<input asp-for="UserName" class="form-control" />
	</div>


	<div class="my-3">
		<label asp-for="Password"></label>
		<input asp-for="Password" class="form-control" />
	</div>

	<div class="my-3">
		<label asp-for="IsActive"></label>
		<input asp-for="IsActive"  />
	</div>

	<button class="btn btn-outline-primary">Register </button>
</form>




